<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>Serv_Crud1</display-name>
	<welcome-file-list>
		<welcome-file>main1.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>insertServ</servlet-name>
		<servlet-class>mypack.GetAllData</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>insertServ</servlet-name>
		<url-pattern>/insertServ</url-pattern>
	</servlet-mapping>
	
	<!--==================== LOGIN SERV================= -->
	<servlet>
		<servlet-name>loginServ</servlet-name>
		<servlet-class>mypack.LoginServ</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginServ</servlet-name>
		<url-pattern>/loginServ</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>mypack_filter.LoginServFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/loginServ</url-pattern>
	</filter-mapping>


	<!--==================== ADD SERV================= -->

	<servlet>
		<servlet-name>addServ</servlet-name>
		<servlet-class>mypack.AddServ</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addServ</servlet-name>
		<url-pattern>/addServ</url-pattern>
	</servlet-mapping>


	<!--==================== UPDATE SERV================= -->

	<servlet>
		<servlet-name>updateServ</servlet-name>
		<servlet-class>mypack.UpdateServ</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateServ</servlet-name>
		<url-pattern>/updateServ</url-pattern>
	</servlet-mapping>




	<!--==================== UPDATE SERV================= -->

	<servlet>
		<servlet-name>deleteServ</servlet-name>
		<servlet-class>mypack.DeleteServ</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteServ</servlet-name>
		<url-pattern>/deleteServ</url-pattern>
	</servlet-mapping>
</web-app>