#social-site1 {
  background-color: rgb(24, 28, 17);
  /* border: 1px solid rgb(255, 255, 0, 0.1); */
  color: rgb(255, 255, 255, 0.7);
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3em;
}

.right {
  width: 45%;
  /* background-color: rgb(188, 84, 84); */
  text-align: left;
}

.left {
  /* background-color: rgb(6, 46, 81); */
  width: 55%;
  /* margin-right: 20px; */
  display: flex;
}

.left-child {
  /* background-color: red; */
  margin-left: auto;
  margin-right: 8px;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255, 0.9);
  margin-left: 10px;
}
.fa-envelope {
  margin-right: 8px;
  color: red;
}
.left a:first-of-type {
  margin-left: auto;
}
.left a {
  padding-left: 15px;
}
.fa-phone {
  color: yellow;
}
/* .fa-square-whatsapp {
  color: black;
  font-size: 3.5em;
  position: fixed;
  top: 80%;
  left: 0%;
} */

.fa-square-whatsapp{
  color: rgb(255, 255, 255,.7);
    
    font-size: 5.5em;
      position: fixed;
      top: 90%;
      left: 90%;    
      z-index: 11;
      
}


@media screen and (min-width: 480px) and (max-width: 767px) {
  .left {
    font-size: 0.65em;
    width: 57%;
    margin-right: 4px;
  }
  .right {
    font-size: 0.65em;
    width: 43%;
    margin-left: 5px;
  }

  a {
    margin-left: 0px;
  }
.left .left-child .fa-phone{
  display: none;
  color :blue;
}

.right .fa-envelope{
  display: none;
}

.fa-square-whatsapp{
  left: 85%;
}

}
/*  */
@media screen and (min-width: 310px) and (max-width: 481px) {
  #social-site1 {
    flex-direction: column;
    height: 100px;
    justify-content: space-evenly;
    font-size: 1em;
  }
  .left {
    width: 100%;
    /* text-align: center; */
    margin-right: 0px;
    display: flex;
    justify-content: center;
  }
  .right {
    width: 100%;
    text-align: center;
  }

  .left-child {
    margin-left: 0px;
    margin-right: 0px;
  }

  .left .left-child .fa-phone{
    display: none;
    color :blue;
  }
  
  .right .fa-envelope{
    display: none;
  }
  .fa-square-whatsapp{
    left: 73%;
  }
 
}